<div class="container">
  <div class="info">
    <div class="fix">
      <mat-icon class="icon material-icons-outlined">account_circle</mat-icon>
      Sprzedaje {{ details.user.firstName }} ({{ details.user.email }})
    </div>
    <div class="fix">
      <mat-icon class="icon material-icons-outlined">call</mat-icon>
      {{ details.user.phoneNumber || '-' }}
    </div>
  </div>
  <div class="line"></div>
  <div class="city">
    <mat-icon class="icon material-icons-outlined">location_on</mat-icon>
    <span class="text">
      {{ (details.address | ppAddress) || '-' }}
    </span>
  </div>
</div>