.component {
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .16);
  max-height: 581px;
  padding-inline: 10px;

  .heading {
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 16px;
    width: 360px;

    @media (max-width: 1300px) {
      width: 240px;
    }

    .title {
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      color: #222;
      margin: 0;
    }
  }
}

.currentChat {
  border-color: #00a790 !important;
  background-color: #f2fbf9;
}

.border {
  border: 1px solid transparent;
}