<div class="component">
  <div class="heading"><span class="title">Czat</span></div>
  <div *ngIf="currentChat">
    <pp-chat-item
      class="currentChat"
      [currentChat]="currentChat"
    >
    </pp-chat-item>
  </div>

  <ng-container *ngIf="previousChats$ | async as previousChats">
    <ng-container *ngFor="let currentChat of previousChats.items">
      <div
        *ngIf="!currentChat.hidden"
        (click)="changeCurrentChat(currentChat, previousChats)"
      >
        <pp-chat-item [currentChat]="currentChat"></pp-chat-item>
      </div>
    </ng-container>
  </ng-container>
</div>