<div class="content fixWidth">
  <div class="maxWidth">
    <form
      [formGroup]="form"
      class="box"
      (ngSubmit)="login()"
    >
      <span class="login">Zaloguj się</span>
      <pp-input
        label="login lub e-mail"
        placeholder="Wprowadź adres e-mail"
        controlName="email"
        [ppErrorMessage]="{
            required: 'Wprowadź adres e-mail',
            pattern: 'Adres e-mail jest nieprawidłowy',
            busy: 'Podany adres e-mail jest już używany'
			    }"
      >
      </pp-input>

      <pp-input
        label="hasło"
        placeholder="8-30 znaków, w tym cyfra"
        controlName="password"
        [type]="passwordVisible ? 'text' : 'password'"
        [suffixTemplate]="suffixPassword"
        [ppErrorMessage]="{
            required: 'Wprowadź hasło',
            pattern: 'Hasło powinno zawierać od 8 do 30 znaków, w tym jedna cyfra'
			    }"
      >
      </pp-input>

      <div class="get">
        <a
          class="text"
          href="https://www.youtube.com/watch?v=E8mH9uT0S1A"
          target="_blank"
        >
          Odzyskaj hasło
        </a>
      </div>
      <button
        type="submit"
        class="button button-login cursor-pointer"
      >
        ZALOGUJ SIĘ
      </button>

      <div class="or">
        <div class="line"></div>
        <span>lub</span>
        <div class="line"></div>
      </div>

      <pp-google-login class="margin"></pp-google-login>

      <button
        type="button"
        class="button button-bottom"
      >
        <img
          class="img"
          src="https://a.allegroimg.com/original/346332/47549ea444eba9db98fe50d3f374/information-social-facebook-1b4340531f.svg"
        >
        KONTYNUUJ PRZEZ FACEBOOK
      </button>

      <button
        type="button"
        class="button button-bottom"
      >
        <img
          class="img"
          src="https://assets.allegrostatic.com/sc-13390/statics/phone_icon_efb43bd6.svg"
        >
        UŻYJ NUMERU TELEFONU
      </button>

    </form>

    <div class="box nextBox">
      <b>Nie masz konta?</b> <span
        [routerLink]="REGISTER_LINK"
        class="register cursor-pointer"
      >
        ZAŁÓŻ KONTO
      </span>
    </div>
  </div>
  <div class="box remove"></div>


</div>
<div class="regulamin fixWidth">
  Logując się do ZmitaCart akceptujesz
  <a
    class="regulamin link"
    href="https://www.youtube.com/watch?v=x0Zr0kN0VeI"
    target="_blank"
  >
    Regulamin
  </a>
  w aktualnym brzmieniu obowiązującym od dnia 29.02.1928. Informacje o
  planowanych oraz archiwalnych zmianach Regulaminu są dostępne na
  <a
    class="regulamin link"
    href="https://policja.pl/"
    target="_blank"
  >
    stronie
  </a>
</div>


<ng-template #suffixPassword>
  <mat-icon
    matSuffix
    class="cursor-pointer"
    (click)="togglePasswordVisibility()"
  >
    {{ passwordVisible ? 'visibility_off' : 'visibility' }}
  </mat-icon>
</ng-template>