<div
  *ngIf="currentChat"
  class="box"
>
  <div class="title">Ogłoszenie</div>
  <div
    class="component cursor-pointer"
    (click)="details(currentChat.offerId)"
  >
    <img
      [src]="currentChat.offerImageUrl ? imageUrl + currentChat.offerImageUrl : 'https://upload.wikimedia.org/wikipedia/commons/5/55/Brak_obrazka.svg'"
      class="img"
    >
    <div class="item">
      <p>{{ currentChat.offerTitle }}</p>
      <p class="price"><span>{{ currentChat.offerPrice }}</span> zł</p>
    </div>
  </div>

  <div
    class="button-allegro buy"
    (click)="details(currentChat.offerId)"
  >
    KUP TERAZ
  </div>
</div>