<div class="header">
  <div class="content">
    <div
      class="menu"
      (mouseleave)="overlayService.setState(false)"
      (mouseenter)="overlayService.setState(true)"
    >
      <mat-icon
        class="svg svg-menu"
        svgIcon="menu"
      >
      </mat-icon>

      <pp-categories-menu
        *ngIf="isShowCategories$ | async"
        [categories]="superiorCategories$ | async"
      ></pp-categories-menu>
    </div>

    <div class="image">
      <img
        class="img"
        src="https://allegrolokalnie.pl/images/lokalnie-logo.svg"
      >
    </div>

    <form class="form">
      <div class="search-form">
        <input
          placeholder="czego szukasz?"
          class="input"
        >
        <mat-icon
          *ngIf="!isBig"
          class="svg fix"
          svgIcon="find"
        >
        </mat-icon>
      </div>

      <div class="categories-form">
        <select class="select cursor-text">
          <option
            value=""
            selected
          >
            --brak--
          </option>
          <ng-container *ngFor="let category of superiorCategories$ | async">
            <option [value]="category.id">
              {{ category.name }}
            </option>
          </ng-container>
        </select>
        <div class="icon icon-find fix cursor-pointer"></div>
      </div>
    </form>

    <div class="actions">
      <mat-icon
        *ngIf="!isBig"
        [routerLink]="ADD_OFFER_LINK"
        class="svg"
        svgIcon="add"
      >
      </mat-icon>
      <mat-icon
        class="svg"
        svgIcon="heart"
      >
      </mat-icon>
      <mat-icon
        class="svg"
        svgIcon="chat"
      >
      </mat-icon>
      <pp-login-menu></pp-login-menu>
    </div>

    <a
      *ngIf="isBig"
      class="button"
      [routerLink]="ADD_OFFER_LINK"
    >
      Wystaw
    </a>
  </div>
</div>