<ng-container *ngIf="loaded$ | async; else loading">
  <div class="blank"></div>
  <a
    class="button goHomeBtn"
    [routerLink]="['/']"
  >
    <mat-icon>
      arrow_back
    </mat-icon>
  </a>
  <div class="container">
    <form
      [formGroup]="createOffer"
      (ngSubmit)="inEdit ? updateOffer(createOffer.value) : addOffer(createOffer.value)"
    >
      <div class="addPhotosInfo">
        <div class="addPhotosInfo--side ">
          <img
            src="assets/images/camera-add.svg"
            alt="camera"
          />
        </div>
        <div class="addPhotoLabel">
          <p>Dodaj zdjęcia</p>
          <p class="subInfoLabel">Możesz dodać do 15 zdjęć w dowolnym formacie</p>
        </div>
      </div>

    <hr>

      <div
        class="addPhotos"
        [ngClass]="{'dragOver': isDragOver}"
        (drop)="onDrop($event)"
        (dragover)="onDragOver($event)"
        (mouseleave)="isDragOver=false"
        (dragleave)="onDragLeave($event)"
        #dropZone
      >

        <div
          class=" button-allegro photos"
          *ngIf="!isDragOver"
        >
          Wybierz zdjęcia z dysku
          <input
            type="file"
            id="fileInput"
            accept="image/*"
            multiple
            (change)="onFileSelected($event)"
          />
        </div>

        <h4
          class="orDragAndDrop"
          *ngIf="!isDragOver"
        >lub przeciągnij i upuść zdjęcia tutaj
        </h4>

        <div
          class="draggingMessage"
          *ngIf="isDragOver"
        >
          Tu upuść swoje zdjęcia
        </div>
      </div>

      <!--    *ngIf="selectedImages"-->
      <div class="imagePreviewWrapper">
        <div
          class="imagePreview"
          *ngFor="let preview of previews | async; index as i"
        >
          <img
            [src]="preview "
            alt="preview"
          />
          <button
            class="deletePhotoBtn"
            (click)="deleteImage(i)"
          >
            <mat-icon class="material-symbols-outlined">
              remove
            </mat-icon>
          </button>
        </div>
      </div>

      <hr>

      <div class="addOfferProps">
        <div class="addTitle">
          <label>Nazwa</label>
          <em class="required">*</em>
          <input
            formControlName="title"
            placeholder="Wpisz, co chcesz sprzedać"
            class="customForm"
            maxlength="50"
          >
          <div class="titleLength">{{characterCount ?? 0}} / 50</div>
        </div>

        <div class="addDescription">
          <label>Opis</label>
          <em class="required">*</em>
          <textarea
            formControlName="description"
            placeholder="Powiedz kupującym coś więcej"
            class="customForm"
          ></textarea>
        </div>

        <div
          *ngIf="!inEdit"
          class="addCategory"
          style="margin-bottom: 50px"
        >
          <label>Kategoria</label>
          <em class="required">*</em>
          <button
            class="loadCategoriesButton"
            (click)="loadSuperiorCategories()"
            *ngIf="!subCategories"
          >PRZEGLĄDAJ
            wszystkie kategorie
          </button>

          <div
            class="categoryPicker"
            *ngIf="subCategories"
          >

            <pp-category-selector
              [item]="subCategories"
              [children]="children"
              [isInSubCat]="isInSubCategories"
              (componentClicked)="goForward($event)"
              (goBackClicked)="goBack($event)"
              [headCategory]="headCategory"
              [parentCategory]="parentCategory"
            ></pp-category-selector>

          </div>

          <span
            class="pickedPropInfo"
            *ngIf="pickedCategory"
          >
            Wybrana kategoria: {{pickedCategory.name }}
          </span>

        </div>

        <div class="condition">
          <label>Stan przedmiotu</label>
          <em class="required">*</em>
          <ul class="conditionSelect">
            <pp-condition-wrapper
              [items]="items"
              [selectedIndex]="condition | async"
              (componentClicked)="setCondition($event)"
            ></pp-condition-wrapper>
          </ul>
        </div>

        <div
          class="available"
          *ngIf="inEdit"
        >
          <label>Dostępność</label>
          <mat-slide-toggle
            formControlName="availability"
            style="display: block; margin-top: 10px"
          >
          </mat-slide-toggle>
          <span class="pickedPropInfo">
            Twoja oferta {{isAvailable ? 'będzie ' : 'nie będzie '}}widoczna dla użytkowników
          </span>
        </div>

        <div class="price">
          <label>Cena przedmiotu</label>
          <em class="required">*</em>
          <input
            type="text"
            formControlName="price"
            placeholder="0,00"
            class="customForm"
          >
        </div>

      <div class="quantity">
        <label>Liczba przedmiotów</label>
        <input type="text" formControlName="quantity" class="customForm" id="qForm" min="1">
      </div>
      <div class="createOfferWrapper">
        <button type="submit" class="button-allegro submit" [disabled]="!createOffer.valid || !validateProps()">
          {{ inEdit ? 'Zaktualizuj ofertę' : 'Utwórz ofertę' }}
        </button>
      </div>
      <div class="blank"></div>
    </div>
  </form>
</div>
</ng-container>
<ng-template #loading>
  <div class="center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
