<div class="container">
  <form [formGroup]="createOffer">
    <div class="addPhotosInfo">
      <div class="addPhotosInfo--side ">
        <img src="assets/images/camera-add.svg" alt="camera"/>
      </div>
      <div class="addPhotoLabel">
        <p>Dodaj zdjęcia</p>
        <p class="subInfoLabel">Możesz dodać do 15 zdjęć w dowolnym formacie</p>
      </div>
    </div>
    <hr>
    <div class="addPhotos">
      <button mat-raised-button>Wybierz zdjęcia z dysku</button>
      <input
        type="file"
        id="fileInput"
        accept="image/*" multiple
      />
    </div>
    <hr>

    <div class="addOfferProps">
      <div class="addTitle">
        <label>Nazwa</label>
        <em class="required">*</em>
        <input formControlName="title" placeholder="Wpisz, co chcesz sprzedać" class="customForm"
               maxlength="50">
        <div class="titleLength">{{characterCount ?? 0}} / 50</div>
      </div>

      <div class="addDescription">
        <label>Opis</label>
        <em class="required">*</em>
        <textarea formControlName="description" placeholder="Powiedz kupującym coś więcej"
                  class="customForm"></textarea>
      </div>

      <div class="addCategory">
        <label>Kategoria</label>
        <em class="required">*</em>
        <div class="categoryPicker">
          <!--            <li *ngFor="let category of superiorCategories$ | async"-->
          <!--                (click)="getFewBySuperiorId(category.id,2)" [hidden]="isHidden">-->
          <!--              <pp-single-category [categoryIcon]="category.iconName"-->
          <!--                                  [categoryName]="category.name"-->
          <!--                                  [categoryId]="category.id"-->
          <!--              >-->
          <!--              </pp-single-category>-->
          <!--            </li>-->

          <!--            <li *ngFor="let category of subCategories$ | async">-->
          <!--              <pp-single-category-->
          <!--                [categoryName]="category.name"-->
          <!--                [categoryId]="category.id"-->
          <!--              >-->
          <!--              </pp-single-category>-->
          <!--            </li>-->

          <pp-test [item]="subCategories"
                   [children]="children"
                   (componentClicked)="test($event)"
          ></pp-test>

          <!--          <pp-test [item]="subCategories" *ngIf="!subCatHidden"-->
          <!--                   [children]="children"-->
          <!--                   (componentClicked)="test($event)"-->
          <!--          ></pp-test>-->

          <!--          <pp-test [item]="subCategories" *ngIf="!subCatHidden"-->
          <!--                   [children]="subCategories[0].children"-->
          <!--                   (componentClicked)="chuj($event)"-->
          <!--          ></pp-test>-->

        </div>
      </div>

      <div class="condition">
        <label>Stan przedmiotu</label>
        <em class="required">*</em>
        <ul class="conditionSelect">
          <pp-condition-wrapper [items]="items" (componentClicked)="SetCondition($event)"></pp-condition-wrapper>
        </ul>
      </div>

      <div class="price">
        <label>Cena przedmiotu</label>
        <em class="required">*</em>
        <input type="text" formControlName="price" placeholder="0,00" class="customForm">
      </div>

      <div class="quantity">
        <label>Liczba przedmiotów</label>
        <input type="text" formControlName="quantity" class="customForm" id="qForm">
      </div>
      <button mat-raised-button class="customButton" id="submitBtn">wystaw ogłoszenie</button>
      <div class="blank"></div>
    </div>
  </form>
</div>
