<div class="messages">
  <pp-messages [allMessages]="allMessages$ | async"></pp-messages>
</div>

<div class="form">
  <div class="area">
    <ng-container *ngIf="{ isChat: currentChat$ | async } as data">
      <textarea
        [disabled]="!data.isChat"
        #myTextarea
        class="textarea"
        (keydown.enter)="sendMessage(); $event.preventDefault();"
      ></textarea>
      <mat-icon
        *ngIf="data.isChat"
        class="icon icon material-icons-outlined cursor-pointer"
        (click)="sendMessage()"
      >
        send
      </mat-icon>
    </ng-container>
  </div>
</div>