:host {
  display: flex;
  flex-direction: column;
}

.author {
  margin-block: 8px 2px;
  font-weight: 600;
  padding-inline: 10px;
}

.message {
  padding: 5px 14px;
  max-width: 70%;
  width: fit-content;
  min-height: 35px;
  display: flex;
}

.sent {
  border-radius: 22px 22px 0 22px;
  justify-content: flex-end;
  border: 1px solid #6256b1;
  outline-color: rgb(93, 177, 255);
  background-color: #f1f0f8;
  color: #222222;

  //&:hover {
  //  border: solid 1px rgba(0, 132, 255, 0.890);
  //  outline-color: rgb(93, 177, 255, 0.890);
  //  background-color: rgba(0, 132, 255, 0.890);
  //}
}

.received {
  border-radius: 22px 22px 22px 0;
  border: solid 1px rgb(228, 230, 235);
  outline-color: rgb(148, 150, 153);
  background-color: #fff;
  color: black;

  //&:hover {
  //  border: solid 1px rgb(228, 230, 235, 0.700);
  //  outline-color: rgb(148, 150, 153, 0.700);
  //  background-color: rgb(228, 230, 235, 0.700);
  //}
}

.move {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.date {
  color: rgb(118, 118, 118);
  font-size: 11px;
  line-height: 13px;
  font-style: italic;
}
