:host {
  width: 100%;
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail {
  width: 47%;
}

.content {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: var(--gap-s);
}