:host {
  width: 370px;
  padding: 16px;

  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .16);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  height: fit-content;
}

.button {
  background-color: var(--color-primary);
  color: white;
}

.hasErrors {
  background-color: var(--color-error) !important;
  cursor: default;
}