<div class="footer">
  <div class="content">
    <span>Korzystanie z serwisu oznacza akceptację <a class="color">regulaminu</a></span>

    <img
      class="cursor-pointer image"
      [routerLink]="['/']"
      src="https://a.allegroimg.com/original/343297/28c4320247179d1326a0c73a423e/logo-allegro-bcec72b532"
    >
  </div>
</div>

<div class="under">
  <div class="container">
    <div class="space">
      <div class="info">Serwisy Grupy Allegro</div>
      <div class="allegros">
        <span>Allegro.cz</span>
        <span>Mall.cz</span>
        <span>Mall.sk</span>
        <span>Mall.hu</span>
        <span>Mall.hr</span>
        <span>Mimovrste.com</span>
        <span>Wedo.cz</span>
        <span>Czc.cz</span>
      </div>
    </div>
  </div>
</div>