<div class="footer">
  <div class="content">
    <span>Korzystanie z serwisu oznacza akceptację <a class="color">regulaminu</a></span>

    <div
      class="cursor-pointer image"
      [routerLink]="['/']"
    >
      <mat-icon
        class="img"
        svgIcon="ZmitaCart"
      >
      </mat-icon>
    </div>
  </div>
</div>

<div class="under">
  <div class="container">
    <div class="space">
      <div class="info">Serwisy Grupy Allegro</div>
      <div class="allegros">
        <span>Allegro.cz</span>
        <span>Mall.cz</span>
        <span>Mall.sk</span>
        <span>Mall.hu</span>
        <span>Mall.hr</span>
        <span>Mimovrste.com</span>
        <span>Wedo.cz</span>
        <span>Czc.cz</span>
      </div>
    </div>
  </div>
</div>