<ng-container *ngIf="{ currentChat: currentChat$ | async } as data">
  <div class="biggi">
    <div class="main">
      <div class="header">
        <p class="name">{{ data.currentChat?.withUser }}</p>
        <div
          class="cursor-pointer data"
          (click)="details(data.currentChat?.offerId, router)"
        >
          <span class="title">{{ data.currentChat?.offerTitle }}</span>
          <p>
            <span class="price">
              {{ data.currentChat?.offerPrice }}
            </span>
            {{ data.currentChat?.offerPrice !== null ? 'zł' : '' }}
          </p>
        </div>
      </div>
      <pp-messenger></pp-messenger>
    </div>

    <div class="info">
      <pp-offer
        *ngIf="data.currentChat"
        [currentChat]="data.currentChat"
      ></pp-offer>
      <pp-chats></pp-chats>
    </div>
  </div>
</ng-container>