@use '@angular/material' as mat;
@use 'variables/palette';

@include mat.core();

$frontend-primary: mat.define-palette(palette.$pp-myPalette, 400);
$frontend-accent: mat.define-palette(palette.$pp-myPalette, A400);
$frontend-warn: mat.define-palette(mat.$red-palette);
$my-typography: mat.define-typography-config();

$frontend-theme: mat.define-light-theme((color: (primary: $frontend-primary,
  accent: $frontend-accent,
  warn: $frontend-warn,
),
  typography: $my-typography,
));

@include mat.all-component-themes($frontend-theme);

:root {
  --gap-small: 15px;
  --gap-medium: 20px;
  --gap-big: 25px;

  --color-primary: #6256b1;
  --color-error: #ff6961;
  --color-success: #77dd77;
  --color-whitish: #e3e7ec;
  --background-color: #f4f8fc;
  --background-color-to-save-eyes: #71767a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // scrollbar-width: thin; //scrollbar w firefox
  // scrollbar-color: rgba(var(--color-primary), .3);
}

html,
body {
  height: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #f4f8fc;

  color: #222;
  font-family: "Open Sans", Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.4rem; // ustawia font size na 10px*1.4=14px
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%; //ustawia base font size na 10px, więc 1rem === 10px
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

// img,
// svg,
// video {
//   max-width: 100%;
//   display: block;
// }
//czy nie zepsuje mat-icons

// a {
//   margin-bottom: 5px;
//   color: var(--color-primary);

//   &:visited {
//     color: var(--color-primary);
//   }
// }

// *::-webkit-scrollbar {
//   width: 8px;
//   height: 8px;
// }

// *::-webkit-scrollbar-track {
//   background: transparent;
// }

// *::-webkit-scrollbar-thumb {
//   background-color: #393d45;
//   border-radius: 20px;
// }

// .mat-mdc-snack-bar-container {
//   &.error-snackbar {
//     --mdc-snackbar-container-color: var(--color-error);
//     --mat-mdc-snack-bar-button-color: #fff;
//     --mdc-snackbar-supporting-text-color: #fff;
//   }

//   &.success-snackbar {
//     --mdc-snackbar-container-color: var(--color-success);
//     --mat-mdc-snack-bar-button-color: #fff;
//     --mdc-snackbar-supporting-text-color: #fff;
//   }
// }

// .mat-mdc-raised-button:not(:disabled) {
//   color: white !important;
// }
