@use '@angular/material' as mat;
@use 'variables/palette';

@include mat.core();

$frontend-primary: mat.define-palette(palette.$pp-myPalette, 400);
$frontend-accent: mat.define-palette(palette.$pp-myPalette, A400);
$frontend-warn: mat.define-palette(mat.$red-palette);
$my-typography: mat.define-typography-config();

$frontend-theme: mat.define-light-theme((color: (primary: $frontend-primary,
        accent: $frontend-accent,
        warn: $frontend-warn,
      ),
      typography: $my-typography,
    ));

@include mat.all-component-themes($frontend-theme);

:root {
  --gap-small: 15px;
  --gap-medium: 20px;
  --gap-big: 25px;

  --color-allegro: #ff5a00;
  --color-allegro-green: #00a790;
  --color-primary: #6256b1;
  --color-error: #ff6961;
  --color-success: #77dd77;
  --color-whitish: #e3e7ec;
  --background-color: #f4f8fc;
  --background-login-color: #eceff1;
  --background-color-to-save-eyes: #71767a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--background-color);

  font-family: "Open Sans", Roboto, "Helvetica Neue", sans-serif;
  color: #222;
  font-size: 14px;
  font-weight: normal;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-text {
  cursor: text;
}

.maxWidth {
  width: 100%;
}

//usuwanie prompt'a google'owego z prawego rogu ez
#credential_picker_container {
  display: none;
}

.observe-svg {
  display: flex;
  justify-content: center;
  gap: 3px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.4px;

  filter: brightness(0) saturate(100%) invert(41%) sepia(40%) saturate(4250%) hue-rotate(147deg) brightness(98%) contrast(101%);
}

.button-allegro {
  height: 40px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  letter-spacing: .4px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 1000px;
}

// a {
//   margin-bottom: 5px;
//   color: var(--color-primary);

//   &:visited {
//     color: var(--color-primary);
//   }
// }

// *::-webkit-scrollbar {
//   width: 8px;
//   height: 8px;
// }

// *::-webkit-scrollbar-track {
//   background: transparent;
// }

// *::-webkit-scrollbar-thumb {
//   background-color: #393d45;
//   border-radius: 20px;
// }

.mat-mdc-snack-bar-container {
  &.error-snackbar {
    --mdc-snackbar-container-color: var(--color-error);
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }

  &.success-snackbar {
    --mdc-snackbar-container-color: var(--color-success);
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }

  &.prank-snackbar {
    --mdc-snackbar-container-color: var(--color-allegro);
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

// .mat-mdc-raised-button:not(:disabled) {
//   color: white !important;
// }

//złe
// .mat-mdc-menu-panel.mat-mdc-menu-panel {
//   width: 280px !important;
// }