@import 'variables/breakpoints';

pp-account {
  .container {
    padding-top: 20px;

    display: flex;
    gap: var(--gap-m);
  }

  .box {
    border-radius: 8px;
    box-shadow: 0 1px 1px 0 rgba(10, 22, 70, .1), 0 0 1px 0 rgba(10, 22, 70, .06);
    background-color: #fff;
    padding: 16px;
  }

  .header {
    min-height: 40px;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #e7e7e7;
    padding: 16px 26px;
    background: #fff;

    display: flex;
    justify-content: space-between;

    .text {
      font-size: var(--font-l);
      font-weight: 600;
      text-align: unset;
      color: unset;
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    box-shadow: 0 2px 8px rgba(0, 0, 0, .16);
    border-radius: 0 0 8px 8px;
    margin: auto;
    padding: 26px;
    background: #fff;
  }

  .mat-button-toggle-group-appearance-standard.mat-button-toggle-vertical .mat-button-toggle+.mat-button-toggle {
    border: 0;
  }

  .mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
  .mat-button-toggle-group-appearance-standard {
    border: 0;
  }

  .mat-button-toggle-appearance-standard {
    background-color: #fff;

    width: 380px;
    display: flex;
    font-family: "Open Sans";

    @media (max-width: $screen-1064) {
      width: 230px;
    }
  }

  .mat-button-toggle-checked {
    background-color: #fef7e7;
    border-right: 5px solid var(--color-allegro-orange) !important;
  }
}